<div id="shopify-block-AbDVjaVp0dGNrcWVNU__estimated_delivery_date_plus_delivery_coder_theme_NTxWed" class="shopify-block shopify-app-block">
  <div class="delivery-widget__theme">…</div>
  </div>
  <div id="shopify-block-AVHhXTnhHbzQzRWlTS__trust_badges_bear_widget_xaA8NB" class="shopify-block shopify-app-block">…</div>
  <hr class="product-info__separator">